# VAR ENVS (config, passwords)
.env
settings/

# pyenv
.python-version

# setuptools install infos
*.egg-info

# Unit test / coverage reports
.coverage
.pytest_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# settings, system, cache...
# .vscode/
.ipynb_checkpoints
.DS_Store
